.main {
  position: relative;
  z-index: 1;

  min-height: 100vh;
  width: 100vw;

  > section {
    max-width: 1200px; //overriden inline for fullwidth
    margin: 0 auto;
  }
}
// styling
.main {
  background: linear-gradient(
    140deg,
    rgba(253, 255, 255, 0.99) 0%,
    rgba(245, 255, 255, 0.99) 100%
  );
  box-shadow: 0 0 2rem 0 rgba(0, 100, 100, 0.2);
  border-bottom: thin solid currentColor;
}

$header_desktop: 5rem;
$header_pad: 4rem;
$header_mobile: 3rem;

$footer_desktop: 16rem;
$footer_pad: 24rem;
$footer_mobile: 30rem;

.main {
  padding-top: $header_desktop;
  margin-bottom: $footer_desktop;
}
.header {
  height: $header_desktop;
}
.footer {
  height: $footer_desktop;
}

@media screen and (max-width: 800px) {
  .main {
    padding-top: $header_pad;
    margin-bottom: $footer_pad;
  }
  .header {
    height: $header_pad;
  }
  .footer {
    height: $footer_pad;
  }
}

@media screen and (max-width: 425px) {
  .main {
    padding-top: $header_mobile;
    margin-bottom: $footer_mobile;
  }
  .header {
    height: $header_mobile;
  }
  .footer {
    height: $footer_mobile;
  }
}

//Added for google chrome inspector
@media screen and (max-width: 320px) {
  .main {
    padding-top: $header_mobile;
  }
}
