.main {
  position: relative;
  padding: 2rem;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > div {
    width: 100%;
    h4 {
      margin-bottom: 0.5rem;
    }
  }

  input {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.25rem;
    width: 320px;
  }

  button {
    padding: 1rem;
    font-size: 1.25rem;
  }
}
