@import "../../../styles/colors";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  ul {
    width: 100%;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;

    //list heading
    h4 {
      text-align: center;
      font-size: 1.1rem;
      color: $interaction;
      margin: 0;
    }
    //list items
    li {
      width: 100%;
      text-align: center;
    }
  }
  > :nth-last-child(1) {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0.25rem;
  }
}
