@use 'sass:math';

.main {
  position: relative;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template:
    'header' 200px
    'view' 1fr / 1fr;

  .header {
    grid-area: header;
  }
  .view {
    grid-area: view;
  }
}

$form_width: 32rem;
.main .form_wrapper {
  position: fixed;
  z-index: 999;
  top: 0;
  right: (-$form_width);

  height: 100vh;
  width: $form_width;

  border-left: thin solid;
  box-shadow: 0 0 5rem -3rem currentColor;

  transition: 0.4s ease;
}
.main .form_open {
  right: 0;
}
.open_toggle_btn {
  position: absolute;
  z-index: 1000;
  top: 3rem;
  right: 5rem;

  height: 7rem;
  width: 7rem;

  color: green !important;
  border-radius: 50%;

  transition: 0.4s ease !important;
}

.open_toggle_btn_formOpen {
  $size: 2rem;
  right: ($form_width - math.div($form_width, 2));

  height: $size;
  width: $size;

  background-color: #fff !important;
  color: red !important;
}
