.main {
  display: grid;
  padding: 0 5vw;
}

.header {
  max-width: 1200px;
  height: 10vh;
  border-bottom: thin dashed currentColor;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    margin-bottom: 1rem;
  }

  button {
    padding: 1rem;
    height: min-content;
    margin-left: 4rem;
  }
}
