.main {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.ul {
  display: flex;
  .li {
    display: flex;
    .keyValue {
      margin-left: 1rem;
    }
    .title {
      font-weight: 700;
    }
  }
}
//LIST VIEW
.list {
  .li {
    width: 100%;
    padding: 1rem;
    border: thin solid;
  }
  .keyValue {
    white-space: nowrap;
  }
}

//THUMB VIEW
.thumb {
  padding: 1rem;
  .li {
    display: grid;
    width: 300px;

    padding: 1rem;

    border: thin solid lightblue;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem -1rem currentColor;

    overflow: hidden;
  }
  .keyValue {
  }
}

@media screen and (max-width: 425px) {
  .thumb {
    .li {
      width: 90%;
    }
  }
}
