.header {
  position: fixed;
  z-index: 10;
  width: 100vw;

  border-bottom: thin solid currentColor;
  box-shadow: 0 0 3rem -1.8rem currentColor;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.85) 0%,
    rgba(255, 255, 255, 0.99) 100%
  );
}
.header nav {
  position: relative;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template: 'logo three indicator links' 1fr / 200px 8rem 1fr auto;

  > * {
    height: 100%;

    display: flex;
    align-items: center;
  }
}
.logo {
  height: 5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    max-height: 80%;
    max-width: 80%;
  }
}
.nav .threeWords {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;

  border-left: thin solid;
  border-right: thin solid;
  h5 {
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}
.nav ul {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    li {
      height: 100%;
      width: 100%;

      padding: 0 1rem;

      display: flex;
      align-items: center;
      justify-content: center;

      border-left: thin solid currentColor;
    }
  }
  a:hover {
    color: currentColor;
    li {
      box-shadow: inset -1rem -1rem 5rem -3.5rem currentColor;
      color: currentColor;
    }
  }
}
.hamburger {
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0;
  height: 4rem;
  width: 4rem;

  display: none;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .header nav {
    padding: 0;
    grid-template: 'logo indicator links' 1fr / 200px 1fr auto;
  }
  .nav .logo {
    border-right: thin solid;
  }
  .nav .threeWords {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header nav {
    grid-template: 'logo indicator hamburger' 1fr / 6rem 1fr auto;
  }
  .nav .logo {
    height: 4rem;
    > svg {
      max-height: 85%;
      max-width: 85%;
    }
  }
  .nav .placeIndicator * {
    font-size: 14px;
  }
  .nav ul {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
@media screen and (max-width: 425px) {
  .nav .logo {
    height: 3rem;
  }
  .hamburger {
    display: flex;
    height: 3rem;
    width: 3rem;
  }
}
