.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding-left: 2rem;
  padding-top: 0.25rem;
}

@media screen and (max-width: 800px) {
  .wrapper {
    h4 {
      padding-right: 2rem;
    }
  }
}
