.main {
  border: thin dashed lightgreen;
  min-height: 900px;
}
.header {
  border-bottom: thin solid red;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
.paragraphs {
  border: thin solid black;
}
