@import "../../styles/colors";

.wrapper {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template:
    "header" 4rem
    "body" 1fr / 1fr;

  .header {
    grid-area: header;
  }
  .body {
    grid-area: body;
  }
}

//#region HEADER
.header {
  height: 100%;
  width: 100%;

  padding: 0 0 0 3rem;

  display: grid;
  grid-template: "title filter listview triggers" 4rem / 17rem 25rem 10rem 1fr;

  .title {
    grid-area: title;
  }
  .info {
    grid-area: info;
  }
  .filter {
    grid-area: filter;
  }
  .listView {
    grid-area: listview;
  }
  .triggers {
    grid-area: triggers;
  }
}

.title {
  display: flex;
  padding-top: 0.75rem;
  h2 {
    color: $theme-contrast;
    margin-right: 0.5rem;
  }
  h4 {
    margin-top: 0.85rem;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  display: flex;
  align-items: flex-end;
  padding-top: 1rem;
  button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5rem;
    white-space: nowrap;
    margin-right: 1rem;
    border-bottom: none;

    &:hover {
      > div {
        transform: rotate(180deg);
      }
    }

    //arrow sign
    > div {
      display: flex;
      justify-content: center;
      width: 1rem;
      height: 1rem;
      margin-left: 0.75rem;
      transform: rotate(0deg);
      &:hover {
        transform: rotate(180deg);
      }
    }
  }
}

.listView {
  position: relative;
  display: flex;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  button {
    position: relative;
    margin-right: 1rem;
    border-radius: 0.25rem;
    border: none;
  }
}

.triggers {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  button {
    height: 100%;
    padding: 0.5rem;
    white-space: nowrap;
    margin-right: 1rem;
    border-radius: 0.75rem;
  }
  .creation {
    color: green;
    border-color: green;
    // background-color: rgba(120, 255, 100, 0.2);
    &:hover {
      background-color: rgba(120, 255, 100, 0.6);
      box-shadow: none;
    }
  }
  .deletion {
    color: rgb(255, 60, 75);
    border-color: rgb(255, 60, 75);
    // background-color: rgba(255, 60, 75, 0.2);
    &:hover {
      background-color: rgba(255, 60, 75, 0.4);
      box-shadow: none;
    }
  }
}
//#endregion

//#region BODY
.body {
  height: 100%;
  width: 100%;

  padding: 3rem;
  background: linear-gradient(
    180deg,
    rgb(240, 250, 255) 0%,
    rgb(220, 230, 230) 100%
  );

  display: flex;

  border-top: solid;
  .post {
    padding: 1rem;
    height: 10rem;
    margin-right: 1rem;
    border: thin dashed rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2rem -1.5rem currentColor;
    background-color: rgb(253, 253, 245);
    .postTitle {
      font-weight: 600;
      font-size: 1rem;
    }
    .postCategory {
      font-weight: 400;
    }
    .postDate {
      opacity: 0.8;
      font-style: italic;
    }
  }
}
//#endregion
