@import '../../../styles/colors';

.footer {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template:
    'menuButtons' 3rem
    'logOut' 3rem / 1fr;
}
.footer ul {
  display: grid;
  grid-template: 'a b c d' 1fr / 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  border-top: solid;
  li {
    height: 100%;
    width: 100%;
    border-right: solid;
    padding: 0;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  :nth-last-child(1) {
    border-right: none;
  }
}

.footer button {
  width: 100%;
  height: 3rem;
}
